@model UnitResViewModel

<style>
    .vlog {
        border: 1px solid #906A32;
        background-color: #EEEAC6;
        padding: 10px;
        font-size: 80%;
    }
    .buttonsmall {
        width: 48px;
        height: 18px;
        text-indent: 5px;
        /*background-color: #b3cb8e;
        border: 1px solid #EEEAC6;*/
        background-color: #fff;
        border: 1px solid #4a7729;
        /*border-right-color: #906A32;
        border-bottom-color: #906A32;*/
        border-radius: 4px;
        text-decoration: none;
    }

    .change_week {
        color: #121212;
    }

    .change_week:hover {
        color: #fff;
    }

    li a {
        color: #121212;
    }

        li a:hover {
            color: #fff;
        }

        .buttonsmall:hover {
            /*background-color: #FFFF99;
            border: 1px solid #906A32;*/
            background-color: #4a7729;
            border: 1px solid #4a7729;
            /*border-right-color: #EEEAC6;
        border-bottom-color: #EEEAC6;*/
            cursor: pointer;
            text-decoration: none;
        }

    .morning_block {
        position: absolute;
        top: 0;
        left: 0;
        width: 32px;
        height: 100%;
        background-color: #EEEEEE;
        padding: 0;
        margin: 0;
        opacity: 0.6;
    }

    .evening_block {
        position: absolute;
        top: 0;
        width: 12px;
        height: 100%;
        left: 84px;
        background-color: #EEEEEE;
        padding: 0;
        margin: 0;
        opacity: 0.6;
    }

    .selected-day {
        background-color: #d6e5bf;
    }

    .bfilter {
        margin-right: 5px;
        width: 48px;
        margin-bottom: 5px;
    }

    .selected_filter_btn {
        background-color: #FFFF99;
        border-right: 1px solid #EEEAC6;
        border-bottom: 1px solid #EEEAC6;
        border-left: 1px solid #906A32;
        border-top: 1px solid #906A32;
        cursor: pointer;
    }

    .wkNumSpan {
        left: 20px;
    }

    .wk_selector {
        width: 60px;
    }
</style>

<div id="content-1"></div>
<div id="content-2">
    <h3>Översikt resurser i alla grupper vecka @ViewBag.vecka</h3>

    <div class="icon-box">
        <div class="icon-btn print_btn" id="print-button" data-cmd="print">
            <img src="~/led16/printer.png" title="Skriv ut" />
        </div>
    </div>
    <div class="wrd-nav-box btn-group-toggle">
        <div class="buttonsmall left bfilter change_week selected_filter_btn" data-filter="ALL">Alla</div>
        @foreach (var unit in Model.UnitsList)
        {
            <div class="buttonsmall left bfilter change_week" data-filter="@unit.UnitId ">@unit.ShortName</div>
        }

        @*<div class="button left bfilter" data-filter="1">RES</div>
        <div class="button left bfilter" data-filter="3">ÅNÄS</div>
        <div class="button left bfilter" data-filter="4">RET</div>
        <div class="button left bfilter" data-filter="5">KGG</div>
        <div class="button left bfilter" data-filter="7">BIL</div>
        <div class="button left bfilter" data-filter="8">MÖT</div>
        <div class="button left bfilter" data-filter="9">ÖVR</div>*@

        @*
        <div class="button left bfilter" data-filter="10">LL10</div>
        <div class="button left bfilter" data-filter="11">HHA</div>
        <div class="button left bfilter" data-filter="12">BG5</div>
        *@
    </div>
    <div id="wrd-nav-box_top" class="wrd-nav-box">
        <div id="prev-wk-btn_top" class="button left prev-wk-btn change_week" alt="Föregående vecka(@ViewBag.Dagens-7)" title="Föregående vecka(@ViewBag.Dagens-7)"><<< -1 Vecka</div>
        <label id="date-select-lbl_top" for="date-select-input_top" class="left date-select-lbl">Datum: </label>
        <input id="date-select-input_top" type="text" class="date-select-input hasDatepicker" value="@ViewBag.Dagens">
        <label id="week_num_btn_lbl" for="week-num_btn" class="left week_num_lbl">Vecka: </label>
        <div id="wk_select_btn" class="left week-num">
            <select id="wk_selector_top" class="wk_selector">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>45</option>
                <option selected="selected">46</option>
                <option>47</option>
            </select>
        </div>
        <div id="next-wk-btn_top" class="button right next-wk-btn change_week" alt="Nästa vecka(@ViewBag.Dagens+7)">+1 Vecka >>></div>
    </div>

    <div class="list-header-box">
        <div class="data-item-short">Grupp</div>
        <div class="data-item-short">Resurs</div>
        <div class="data-item">Måndag</div>
        <div class="data-item">Tisdag</div>
        <div class="data-item">Onsdag</div>
        <div class="data-item">Torsdag</div>
        <div class="data-item">Fredag</div>
        <div class="data-item">Lördag</div>
        <div class="data-item">Söndag</div>
    </div>
    <div class="hidden"></div>
    <div id="week-overview-list">

    @foreach (var res in Model.ResourcesList)
    {
        <div class="list-row" data-rid="">
            <div class="overview-item-short dotip_building" data-ttip="" title="@res.Unit.ShortName">@res.Unit.ShortName</div>
            <div class="overview-item-short room_id_btn" data-rgid="" data-rid="">
                <a class="text-dark" asp-controller="OverView" asp-action="OverviewResource" asp-route-id="@res.ResId" style="text-decoration: none">@res.ResName</a>
            </div>
            @foreach (var wday in ViewBag.WeekDays)
            {
            <div class="overview-item dotip_building" data-rgid="" data-rid="">
            @*// 0:00 to 08:00 marked block.*@
            <div class="morning_block"></div>
            @*// 21:00 to 24:00 marked block.*@
            <div class="evening_block"></div>
                <div class="data-item " data-rgid="" data-rid="" value="@wday">
                    <a class="text-dark" asp-controller="OverView" asp-action="OverviewDay" asp-route-id="@res.ResId" style="text-decoration: none">@wday</a>
                </div>
            </div>
            }

        </div>
        @*@await Html.PartialAsync("_WeekDays")*@
        }

            @*@*<div class="list-row" data-rid="15">
                <div class="overview-item-short dotip_building" data-ttip="#rg8" title="MÖT">MÖT</div>
                <div class="overview-item-short room_id_btn" data-rgid="8" data-rid="15">Mötesrum</div>
            </div>
            <div class="list-row" data-rid="30">
                <div class="overview-item-short dotip_building" data-ttip="#rg7" title="BIL">BIL</div>
                <div class="overview-item-short room_id_btn" data-rgid="7" data-rid="30">VW E-UP</div>
            </div>
            <div class="list-row" data-rid="17">
                <div class="overview-item-short dotip_building" data-ttip="#rg1" title="RES">RES</div>
                <div class="overview-item-short room_id_btn" data-rgid="1" data-rid="17">Café</div>
            </div>
            <div class="list-row" data-rid="18">
                <div class="overview-item-short dotip_building" data-ttip="#rg1" title="RES">RES</div>
                <div class="overview-item-short room_id_btn" data-rgid="1" data-rid="3">sal 11</div>
            </div>

            <div class="list-row" data-rid="27">
                <div class="overview-item-short dotip_building" data-ttip="#rg1" title="RES">RES</div>
                <div class="overview-item-short room_id_btn" data-rgid="1" data-rid="27">
                    <a class="text-dark" asp-controller="OverView" asp-action="OverviewResource" style="text-decoration: none">sal 13</a>
                </div>
            </div>
            <div class="list-row" data-rid="2">
                <div class="overview-item-short dotip_building" data-ttip="#rg1" title="RES">RES</div>
                <div class="overview-item-short room_id_btn" data-rgid="1" data-rid="2">sal 17</div>
            </div>
            <div class="list-row" data-rid="4">
                <div class="overview-item-short dotip_building" data-ttip="#rg1" title="RES">RES</div>
                <div class="overview-item-short room_id_btn" data-rgid="1" data-rid="4">Silver</div>
            </div>
            <div class="list-row" data-rid="16">
                <div class="overview-item-short dotip_building" data-ttip="#rg1" title="RES">RES</div>
                <div class="overview-item-short room_id_btn" data-rgid="1" data-rid="16">Träslöjd</div>
            </div>
            <div class="list-row" data-rid="19">
                <div class="overview-item-short dotip_building" data-ttip="#rg4" title="RET">RET</div>
                <div class="overview-item-short room_id_btn" data-rgid="4" data-rid="19">Teater</div>
            </div>*@
        </div>
    <div class="list-header-box">
        <div class="data-item-short">Grupp</div>
        <div class="data-item-short">Resurs</div>
        <div class="data-item">Måndag</div>
        <div class="data-item">Tisdag</div>
        <div class="data-item">Onsdag</div>
        <div class="data-item">Torsdag</div>
        <div class="data-item">Fredag</div>
        <div class="data-item">Lördag</div>
        <div class="data-item">Söndag</div>
    </div>

    <div id="wrd-nav-box_top" class="wrd-nav-box">
        <div id="prev-wk-btn_top" class="button left prev-wk-btn change_week" alt="Föregående vecka(@ViewBag.Dagens-7)" title="Föregående vecka(@ViewBag.Dagens-7)"><<< -1 Vecka</div>
        <label id="date-select-lbl_top" for="date-select-input_top" class="left date-select-lbl">Datum: </label>
        <input id="date-select-input_top" type="text" class="date-select-input hasDatepicker" value="@ViewBag.Dagens">
        <label id="week_num_btn_lbl" for="week-num_btn" class="left week_num_lbl">Vecka: </label>
        <div id="wk_select_btn" class="left week-num">
            <select id="wk_selector_top" class="wk_selector">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>45</option>
                <option selected="selected">46</option>
                <option>47</option>
            </select>
        </div>
        <div id="next-wk-btn_top" class="button right next-wk-btn change_week" alt="Nästa vecka(@ViewBag.Dagens+7)">+1 Vecka >>></div>
    </div>
</div>

<div id="content-3"></div>
