@model UnitResViewModel
@using Newtonsoft.Json

<style>
    .vlog {
        border: 1px solid #906A32;
        background-color: #EEEAC6;
        padding: 10px;
        font-size: 80%;
    }
</style>

<div id="content-1"></div>
<div id="content-2">

    <style>
        .morning_block {
            position: absolute;
            top: 0;
            left: 0;
            width: 32px;
            height: 100%;
            background-color: #EEEEEE;
            padding: 0;
            margin: 0;
            opacity: 0.6;
        }

        .evening_block {
            position: absolute;
            top: 0;
            width: 12px;
            height: 100%;
            left: 84px;
            background-color: #EEEEEE;
            padding: 0;
            margin: 0;
            opacity: 0.6;
        }

        .selected-day {
            background-color: #d6e5bf;
        }

        .room_id_btn {
            background-color: #b3cb8e;
        }

            .room_id_btn:hover {
                background-color: #FFFF99;
                cursor: pointer;
            }

        .wkNumSpan {
            left: 20px;
        }

        .wk_selector {
            width: 60px;
        }

        .change_week {
            color: #121212;
        }

            .change_week:hover {
                color: #fff;
            }

        div a {
            color: #121212;
        }

            div a:hover {
                color: #fff;
            }


        .list-header-box {
            width: 834px;
            /*background-color: #EEEAC6;
            border-bottom: 1px solid #906A32;
            border-top: 1px solid #906A32;*/
            background-color: #f2f2f2;
            border-bottom: 1px solid #4a7729;
            border-top: 1px solid #4a7729;
        }

        .wrd-nav-box {
            margin-top: 10px;
            width: 822px;
            padding: 5px;
            /*background-color: #EEEAC6;
            border: 1px solid #906A32;*/
            background-color: #f2f2f2;
            border: 1px solid #4a7729;
            margin-bottom: 10px;
        }

        .dblock {
            position: absolute;
            top: 0;
            left: 0;
            border-top: 23px solid;
            width: 0;
            height: 100%;
        }

        .tag1 {
            position: absolute;
            top: 0;
            left: 50px;
            border-top: 23px solid;
            border-top-color: #AC7244;
            width: 8px;
            height: 100%;
        }

        .tag2 {
            position: absolute;
            top: 0;
            left: 20px;
            border-top: 23px solid;
            border-top-color: #E2DA38;
            width: 4px;
            height: 100%;
        }

        .tag3 {
            position: absolute;
            top: 0;
            left: 53px;
            border-top: 23px solid;
            border-top-color: #3ABC12;
            width: 8px;
            height: 100%;
        }
    </style>
    @{int next = 0;}
    <h3>Veckoöversikt: @Model.Resource.ResName - @ViewBag.EnhetsAdress</h3>
    @*// printer view button.*@
    <div class="icon-box">
        <div class="icon-btn print_btn" id="print-button" data-cmd="print">
            <img src="~/led16/printer.png" title="Skriv ut" alt="Skriv ut" />
        </div>
    </div>

    <!--<div id="wrd-nav-box_top" class="wrd-nav-box">
        <div id="prev-wk-btn_top" class="button left prev-wk-btn change_week" alt="Föregående vecka(' . $prevWk . ')"
             title="Föregående vecka(' . $prevWk . ')">
            &lt;&lt;&lt; -1 Vecka
        </div>
        <div id="to-overview-btn_top" class="button left to-overview-btn change_week">
            <a class="" asp-controller="OverView" asp-action="Overview" style="text-decoration: none">Översikt</a>
        </div>
        <label id="date-select-lbl_top" for="date-select-input_top" class="left date-select-lbl">Datum: </label>
        <input id="date-select-input_top" type="text" class="left date-select-input" value="@ViewBag.Dagens" />
        <label id="week_num_top_lbl" for="week-num_top" class="left week_num_lbl">Vecka: </label>
        <div id="wk_select_top" class="left week-num">
            <select id="wk_selector_top" class="wk_selector">-->
    @*for ($w = 1; w < ($numWeeksInYear + 1) ; $w++) {
            selected = "";
            if ($ovWeek == $w) {
                selected = "selected"
            }
            <option selected>' . $w . '</option>
        }*@
    <!--@for (var vecka = 1; vecka <= ViewBag.yearWeeks; vecka++)
                {
                    if (vecka == ViewBag.vecka)
                    {
                        <option selected>@vecka</option>

                    }
                    <option>@vecka</option>
                }
            </select>
        </div>
        <div id="next-wk-btn_top" class="button right next-wk-btn change_week" alt="Nästa vecka(' . $nextWk . ')"
             title="Nästa vecka(' . $nextWk . ')">+1 Vecka &gt;&gt;&gt;</div>
    </div>-->
    @await Html.PartialAsync("Overview/_WeekNavigationOBtn")

    @await Html.PartialAsync("Overview/_WeekHeader")

    <div id="week-overview-list">
        <div class="list-row " data-rID=" . $rID . "></div>

        @foreach (int vecka in @ViewBag.veckor30)
        {

            <div class="overview-item-short dotip_building"
                 data-ttip="@ViewBag.EnhetsAdress">
                <span>@Model.Resource.ResName</span>
            </div>
            <div class="overview-item-short week_num" data-date="' . $mondayDate . '"
                 data-rgID="' . $resource"
                 data-rID="' . $rID . '" title="' . $mondayDate . '-&gt;&gt;' . $sundayDate . '">
                <span class="wkNumSpan">v @vecka</span>
            </div>

            @foreach (var wday in ViewBag.WeekDays)
            {
                <div id="@(Model.Resource.ResId + "_" + ViewBag.ForwardDates[next])" title="@Model.Unit.ShortName | @Model.Resource.ResName | @ViewBag.ForwardDates[next]" class="overview-item dotip_building nav-item" data-toggle="popover-hover" data-bs-trigger="hover focus" data-rgid="@Model.Unit.UnitId" data-rid="@Model.Resource.ResId" data-date="@ViewBag.ForwardDates[next]">
                    @*<a class="text-dark nav-link p-0" asp-controller="OverView" asp-action="OverviewDay" asp-route-id="@Model.Resource.ResId" style="text-decoration: none">&nbsp;</a>*@
                    @*// 0:00 to 08:00 marked block.*@
                    <div class="morning_block"></div>
                    @*// 21:00 to 24:00 marked block.*@
                    <div class="evening_block"></div>

                    @*Här skall alla bokningar skapas som div-taggar*@

                    @*<div class="data-item " data-rgid="" data-rid="" data-date="@ViewBag.ForwardDates[next]" title="@Model.Unit.ShortName | @Model.Resource.ResName | @ViewBag.ForwardDates[next]" value="@wday">
                        <a class="text-dark" asp-controller="OverView" asp-action="OverviewDay" asp-route-id="@Model.Resource.ResId" style="text-decoration: none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    </div>*@

                </div>
                next++;
            }
        }
        @*<div class="list-row " data-rID=" . $rID . "></div>

            <div class="overview-item-short dotip_building" data-ttip="#rg' . $resource->getResourceGroupId() . '">
                <span></span>
            </div>*@
        @*// Week number field.*@
        <!--<div class="overview-item-short week_num" data-date="' . $mondayDate . '" data-rgID="' . $resource->getResourceGroupId() . '"
         data-rID="' . $rID . '" title="' . $mondayDate . '-&gt;&gt;' . $sundayDate . '">
        <span class="wkNumSpan">v' . $weekNumber .'</span>
        </div>

        <div class="overview-item ' . $tipClass . ' ' . $isSelected . '"
         id="' . $id . '"
         title=" . $resourceGroup->getResourceGroupShortName() . ' | ' . $resource->getResourceName() . ' | ' . $dt . '"
         data-ttip="# . $tipCounter . '"
         data-ref="part/show/view_resource_day.php"
         data-target="#content-2"
         data-rID="' . $resource->getResourceId() . '"
         data-rgID=" . $resourceGroup->getResourceGroupID() . '"
         data-date=" . $dt . '">-->
        @*// 0:00 to 08:00 marked block.*@
        <!--<div class="morning_block"></div>-->
        @*// 21:00 to 24:00 marked block.*@
        <!--<div class="evening_block"></div>
        </div>

        <div id="' . $tipCounter . '" class="hidden">
            $dbk->getTooltipString();
        </div>-->

    </div>

    @await Html.PartialAsync("Overview/_WeekHeader")

    @await Html.PartialAsync("Overview/_WeekNavigationOBtnBtm")

    <div class="clear"></div>

    @section Scripts{
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <script>
        // Get bookings from ViewModel

        let bookingsFromViewModel = @Html.Raw(Json.Serialize(Model.BookingList));
        console.log(bookingsFromViewModel);
        let usersFromViewModel = @Html.Raw(Json.Serialize(Model.UserList));
        console.log(usersFromViewModel);

        // Select all elements with data-toggle="popover" in the document
        //$('[data-toggle="popover"]').popover();
            //$(".overview-item").popover() 
            //$(document).ready(function () {
            //    $('[data-toggle="popover"]').popover({
            //        trigger: 'hover'
            //    });

            //$(".overview-item").on('click', function () {
            //    let el = $(this);
            //    let IdAndDate = $(this).attr("id");
            //    const [ resourceId, currentDate ] = IdAndDate.split("_");

            //    let selectedBooking = getBooking(parseInt(resourceId), currentDate);
            //    let startTime = selectedBooking.startTime.slice(11, 16);
            //    let stopTime = selectedBooking.stopTime.slice(11, 16);
            //    let leader = selectedBooking.leader;
            //    let activity = selectedBooking.activity;

            //    $(el).popover({ content: `${startTime} -> ${stopTime} | ${activity} | ${leader}` });
            //});

            // popovers initialization - on hover
            //$('[data-toggle="popover-hover"]').popover({
            //    html: false,
            //    trigger: 'hover',
            //    content: function () {
            //        let IdAndDate = $(this).attr("id");
                    
            //        const [resourceId, currentDate] = IdAndDate.split("_");
            //        try {
            //            let selectedBooking = getBooking(parseInt(resourceId), currentDate);
            //            let startTime = selectedBooking.startTime.slice(11, 16);
            //            let stopTime = selectedBooking.stopTime.slice(11, 16);
            //            let leader = selectedBooking.leader;
            //            let activity = selectedBooking.activity;
            //            if (selectedBooking != null) {
            //                return `${startTime} -> ${stopTime} | ${activity} | ${leader}`;
            //            }
            //            return null;
            //        }
            //        catch {

            //        }
                    
            //    }
            //});

        //function getBooking(id, startDate) {
        //    for (const booking of bookingsFromViewModel) {
        //        const [startD] = booking.startDate.split("T");
        //        if (startDate.normalize() === startD.normalize() && booking.resource.resId === id) {
        //            console.log("startD = " + startD + " startDate = " + startDate);
        //            console.log("booking.resource.resId = " + booking.resource.resId + " id = " + id);
        //            return booking;
        //        }
        //    }
        //}


        </script>
        <script type="text/javascript">
            // For Datepicker
            $.datepicker.regional['sv'] = {
                closeText: 'Stäng',
                prevText: '< Föregående',
                nextText: 'Nästa >',
                currentText: 'Nu',
                monthNames: ['Januari', 'Februari', 'Mars', 'April', 'Maj', 'Juni', 'Juli', 'Augusti', 'September', 'Oktober', 'November', 'December'],
                monthNamesShort: ['Jan', 'Feb', 'Mar', 'Apr', 'Maj', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dec'],
                dayNamesShort: ['Sön', 'Mån', 'Tis', 'Ons', 'Tor', 'Fre', 'Lör'],
                dayNames: ['Söndag', 'Måndag', 'Tisdag', 'Onsdag', 'Torsdag', 'Fredag', 'Lördag'],
                dayNamesMin: ['Sö', 'Må', 'Ti', 'On', 'To', 'Fr', 'Lö'],
                weekHeader: 'Не',
                dateFormat: 'yy-mm-dd',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
            $.datepicker.setDefaults($.datepicker.regional['sv']);

            $(document).ready(function () {
                $(".date-select-input").datepicker({
                    showOtherMonths: true,
                    selectOtherMonths: true,
                    showButtonPanel: true,
                    changeMonth: true,
                    changeYear: true,
                    showWeek: true,
                    firstDay: 1,
                    gotoCurrent: true
                });

            });
            $('.date-select-input').unbind('change');
            $('.date-select-input').change(function () {

                let currentDate = $(this).val();

                $('.date-select-input').datepicker('setDate', new Date(currentDate));

                window.location.href = "@Url.Action("OverviewResource", "Overview")" + `?datePicker=${currentDate}`;

                $(".date-select-input").val(currentDate);
            });


        </script>

        <script type="text/javascript">
            // Test for bookings
            $(".overview-item").on('click', function () {
                let el = $(this);
                let IdAndDate = $(this).attr("id");
                const [ resourceId, currentDate ] = IdAndDate.split("_");

                let selectedBooking = getBooking(parseInt(resourceId), currentDate);
                let startTime = selectedBooking.startTime.slice(11, 16);
                let stopTime = selectedBooking.stopTime.slice(11, 16);
                let leader = selectedBooking.leader;
                let activity = selectedBooking.activity;

                $(el).popover({ content: `${startTime} -> ${stopTime} | ${activity} | ${leader}` });
            });

            function getBooking(id, startDate) {
                for (const booking of bookingsFromViewModel) {
                    const [startD] = booking.startTime.split("T");
                    console.log("[startD] = " + [startD] + " startDate = " + startDate);
                    console.log("startD = " + startD + " startDate = " + startDate);
                    if (startDate.normalize() === startD.normalize() && booking.resource.resId === id) {
                        console.log("startD = " + startD + " startDate = " + startDate);
                        console.log("booking.resource.resId = " + booking.resource.resId + " id = " + id);
                        return booking;
                    }
                }
            }

            //Show bookings
            let book1 = document.createElement("div");
            let book2 = document.createElement("div");
            book1.setAttribute("class", "tag1");
            book2.setAttribute("class", "tag2");
            //book2.addClass('tag2');

            //const oldDiv = $('#4_2020-12-29');
            let oldDiv = document.getElementById('4_2021-01-12');
            oldDiv.appendChild(book1);
            oldDiv.appendChild(book2);
            console.log(oldDiv);

                    //$('#4_2020-12-29').addClass('tag3');
                    //$('#4_2021-01-05').addClass('tag2');
                    //$('#4_2021-01-12').addClass('tag2');

        </script>
        <!--<script>
            $(document).ready(function () {
                $('#0').addClass('selected_filter_btn');
            });



        <!--</script>-->
        @*<script type="text/javascript">
            // Code from old site

                    makeOverview();

                    $('div.dotip').cluetip({
                        local: true,
                        hideLocal: true,
                        dropShadow: false,
                        titleAttribute: 'title',
                        cluetipClass: 'jtip',
                        width: 'auto',
                        attribute: 'data-ttip',
                        topOffset: '10',
                        leftOffset: '20',
                        positionBy: 'mouse',
                        tracking: true
                    });

                    $('div.dotip_building').cluetip({
                        local: true,
                        hideLocal: true,
                        dropShadow: false,
                        titleAttribute: 'title',
                        showTitle: false,
                        cluetipClass: 'jtip',
                        width: '150',
                        attribute: 'data-ttip',
                        topOffset: '10',
                        leftOffset: '20',
                        positionBy: 'mouse',
                        tracking: true
                    });

                    $(".date-select-input").datepicker();

                    $('.prev-wk-btn').unbind('click');
                    $('.prev-wk-btn').click(function () {
                        $('#content-2').html('<h2>Laddar...</h2>');
                        $.post('part/show/resource_overview.php',
                            {
                        rID: '$rID',
                                bID: '{$resourceGroup -> getResourceGroupID()}',
                                ovDate: '$prevWk'
                            },
                            function (data) {
                        $('#content-2').html(data);
                            });
                    });

                    $('.next-wk-btn').unbind('click');
                    $('.next-wk-btn').click(function () {
                        $('#content-2').html('<h2>Laddar...</h2>');
                        $.post('part/show/resource_overview.php',
                            {
                        rID: '$rID',
                                bID: '{$resourceGroup -> getResourceGroupID()}',
                                ovDate: '$nextWk'
                            },
                            function (data) {
                        $('#content-2').html(data);
                            });
                    });

                    $('.date-select-input').unbind('change');
                    $('.date-select-input').change(function () {
                        $('#content-2').html('<h2>Laddar...</h2>');
                        $.post('part/show/resource_overview.php',
                            {
                        rID: '$rID',
                                bID: '{$resourceGroup -> getResourceGroupID()}',
                                ovDate: $(this).val()
                            },
                            function (data) {
                        $('#content-2').html(data);
                            });
                    });

                    $('.wk_selector').unbind('change');
                    $('.wk_selector').change(function () {
                        $('#content-2').html('<h2>Laddar...</h2>');
                        $.post('part/show/resource_overview.php',
                            {
                        rID: '$rID',
                                bID: '{$resourceGroup -> getResourceGroupID()}',
                                ovWeek: $(this).val()
                            },
                            function (data) {
                        $('#content-2').html(data);
                            });
                    });

                    $('.overview-item').unbind('click');
                    $('.overview-item').click(function () {
                        var t = $(this);
                        $('#content-2').html('<h2>Laddar...</h2>');
                        $.post('part/show/view_resource_day.php',
                            {
                        rID: '$rID',
                                bID: '{$resourceGroup -> getResourceGroupID()}',
                                date: t.attr('data-date')

                            },
                            function (data) {
                        $('#content-2').html(data);
                            });
                        return false;
                    });

                    $('.to-overview-btn').unbind('click');
                    $('.to-overview-btn').click(function () {
                        $('#content-2').html('<h2>Laddar...</h2>');
                        $.post('part/show/overview.php',
                            {
                        rID: '$rID',
                                bID: '{$resourceGroup -> getResourceGroupID()}',
                                date: '$dateToUse'
                            },
                            function (data) {
                        $('#content-2').html(data);
                            });
                    });

                    $('#print-button').click(function () {
                        printwin = window.open(
                            'part/printer/print_resource_overview.php?r=$rID&b={$resourceGroup->getResourceGroupID()}&ow=$ovWeek',
                            'Printer window', 'toolbar=1,scrollbars=1,location=1,statusbar=0,menubar=1,resizable=1,width=900,height=700');
                    });

            </script>*@
    }
</div>

<div id="content-3"></div>
