@model UnitResViewModel
@using Newtonsoft.Json
<style>
    .vlog {
        border: 1px solid #906A32;
        background-color: #EEEAC6;
        padding: 10px;
        font-size: 80%;
    }

    .buttonsmall {
        width: 48px;
        height: 18px;
        text-indent: 5px;
        /*background-color: #b3cb8e;
        border: 1px solid #EEEAC6;*/
        background-color: #fff;
        border: 1px solid #6BAA24;
        /*border-right-color: #906A32;
        border-bottom-color: #906A32;*/
        border-radius: 4px;
        text-decoration: none;
    }

    .change_week {
        color: #121212;
    }

        .change_week:hover {
            color: #fff;
        }

    li a {
        color: #121212;
    }

        li a:hover {
            color: #fff;
        }

        li a:active {
            background-color: #D14F4F;
        }

    div a {
        color: #121212;
    }

        div a:hover {
            color: #fff;
        }

    .buttonsmall:hover {
        /*background-color: #FFFF99;
            border: 1px solid #906A32;*/
        background-color: #6BAA24;
        border: 1px solid #6BAA24;
        /*border-right-color: #EEEAC6;
        border-bottom-color: #EEEAC6;*/
        cursor: pointer;
        text-decoration: none;
    }

    .morning_block {
        position: absolute;
        top: 0;
        left: 0;
        width: 32px;
        height: 100%;
        background-color: #EEEEEE;
        padding: 0;
        margin: 0;
        opacity: 0.6;
    }

    .evening_block {
        position: absolute;
        top: 0;
        width: 12px;
        height: 100%;
        left: 84px;
        background-color: #EEEEEE;
        padding: 0;
        margin: 0;
        opacity: 0.6;
    }

    .selected-day {
        background-color: #d6e5bf;
    }

    .bfilter {
        margin-right: 5px;
        width: 48px;
        margin-bottom: 5px;
    }

    .selected_filter_btn {
        /*background-color: #FFFF99;*/
        background-color: #D14F4F;
        border-right: 1px solid #EEEAC6;
        border-bottom: 1px solid #EEEAC6;
        border-left: 1px solid #906A32;
        border-top: 1px solid #906A32;
        cursor: pointer;
    }

    .wkNumSpan {
        left: 20px;
    }

    .wk_selector {
        width: 60px;
    }

    .list-header-box {
        width: 834px;
        /*background-color: #EEEAC6;
        border-bottom: 1px solid #906A32;
        border-top: 1px solid #906A32;*/
        background-color: #f2f2f2;
        border-bottom: 1px solid #4a7729;
        border-top: 1px solid #4a7729;
    }

    .wrd-nav-box {
        margin-top: 10px;
        width: 822px;
        padding: 5px;
        /*background-color: #EEEAC6;
        border: 1px solid #906A32;*/
        background-color: #f2f2f2;
        border: 1px solid #4a7729;
        margin-bottom: 10px;
    }
    .dblock {
        position: absolute;
        top: 0;
        left: 0;
        border-top: 23px solid;
        width: 0;
        height: 100%;
    }
</style>
@{int next = 0;}

<div id="content-1"></div>
<div id="content-2">
    <h3>Översikt resurser i alla grupper vecka @ViewBag.vecka</h3>

    <div class="icon-box">
        <div class="icon-btn print_btn" id="print-button" data-cmd="print">
            <img src="~/led16/printer.png" title="Skriv ut" />
        </div>
    </div>
    <div id="unitFilter" class="wrd-nav-box btn-group-toggle">
        <div id="0" class="buttonsmall left bfilter change_week nav-item" data-filter="ALL">
            <a class="nav-link p-0" asp-controller="OverView" asp-action="Overview" asp-route-id="0" style="text-decoration: none">Alla</a>
        </div>
        @foreach (var unit in Model.UnitsList)
        {
            <div id="@unit.UnitId" class="buttonsmall left bfilter change_week nav-item" data-filter="@unit.UnitId "><a class="nav-link p-0" asp-controller="OverView" asp-action="Overview" asp-route-id="@unit.UnitId" style="text-decoration: none">@unit.ShortName</a></div>
        }


    </div>
    
    @await Html.PartialAsync("Overview/_WeekNavigation")

    @await Html.PartialAsync("Overview/_WeekHeader")

    <div id="week-overview-list">
        @foreach (var res in Model.FilteredResourceList)
        {
            <div class="list-row" data-rid="">
                <div class="overview-item-short dotip_building" data-ttip="" title="@res.Unit.ShortName">@res.Unit.ShortName</div>
                <div class="overview-item-short room_id_btn" data-rgid="" data-rid="">
                    <a class="text-dark" asp-controller="OverView" asp-action="OverviewResource" asp-route-id="@res.ResId" style="text-decoration: none">@res.ResName</a>
                </div>

                @foreach (var wday in ViewBag.WeekDays)
                {
                    <div id="@(res.ResId + "_" + ViewBag.ForwardDates[next])" title="@res.Unit.ShortName | @res.ResName | @ViewBag.ForwardDates[next]" class="overview-item dotip_building" data-rgid="@res.Unit.UnitId" data-rid="@res.ResId">
                        @*Tillfälligt bortkommenterat
                        <a class="text-dark" asp-controller="OverView" asp-action="OverviewDay" asp-route-id="@res.ResId" style="text-decoration: none">&nbsp;</a>*@
                                @*// 0:00 to 08:00 marked block.*@
                                <div class="morning_block"></div>
                                @*// 21:00 to 24:00 marked block.*@
                                <div class="evening_block"></div>
                                <display-bookings Booking=@Model.BookingList User=@Model.UserList Id=@res.ResId Date="@ViewBag.ForwardDates[next]"></display-bookings>
                                
                        @{next++;}
                    </div>
                            }
                @{next = 0;}
            </div>
            @*@await Html.PartialAsync("_WeekDays")*@
        }

        
    </div>

    @await Html.PartialAsync("Overview/_WeekHeader")

    @await Html.PartialAsync("Overview/_WeekNavigationBtm")
    
</div>

<div id="content-3"></div>

@section Scripts{
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>


    let bookingsFromViewModel = @Html.Raw(Json.Serialize(Model.BookingList));
    console.log(bookingsFromViewModel);
    let usersFromViewModel = @Html.Raw(Json.Serialize(Model.UserList));
    console.log(usersFromViewModel);

        //$(".overview-item").on('click', function () {
    $(".dotip").on('click', function () {
        let el = $(this);
        let IdAndDate = $(this).attr("id");
        const [ resourceId, currentDate ] = IdAndDate.split("_");

        let selectedBooking = getBooking(parseInt(resourceId), currentDate);
        let startTime = selectedBooking.startTime.slice(11, 16);
        let stopTime = selectedBooking.stopTime.slice(11, 16);
        let leader = selectedBooking.leader;
        let activity = selectedBooking.activity;

        $(el).popover({ content: `${startTime} -> ${stopTime} | ${activity} | ${leader}` });
        //$(el).popover({ content: `${startTime} -> ${stopTime}` });
    });

    function getBooking(id, startDate) {
        for (const booking of bookingsFromViewModel) {
            const [startD] = booking.startDate.split("T");
            if (startDate.normalize() === startD.normalize() && booking.resource.resId === id) {
                console.log("startD = " + startD + " startDate = " + startDate);
                console.log("booking.resource.resId = " + booking.resource.resId + " id = " + id);
                return booking;
            }
        }
    }


    </script>

    <script type="text/javascript">
        //Filterbutton Overview
        $(document).ready(function () {
            $('#0').addClass('selected_filter_btn');


            let selectedDate = $('.date-select-input').val();

            /* Next monday */
            let nm = new Date(selectedDate);
            nm.setUTCDate(nm.getUTCDate() + (7 - nm.getUTCDay()) % 7 + 1);
            let nextMonday = new Date(nm.getTime() - (nm.getTimezoneOffset() * 60000)).toISOString().split("T")[0];
            $('#next-wk-btn_top').prop('title', `Nästa Vecka från ${nextMonday}`);
            $('#next-wk-btn_btm').prop('title', `Nästa Vecka från ${nextMonday}`);

            /* Previous monday */
            let pm = new Date(selectedDate);
            pm.setUTCDate(pm.getUTCDate() - (pm.getUTCDay() + 6) % 7);
            pm.setUTCDate(pm.getUTCDate() - 7);
            let prevMonday = new Date(pm.getTime() - (pm.getTimezoneOffset() * 60000)).toISOString().split("T")[0];
            $('#prev-wk-btn_top').prop('title', `Föregående vecka ${prevMonday}`);
            $('#prev-wk-btn_btm').prop('title', `Föregående vecka ${prevMonday}`);


        }); // End document ready

        /* eventlisteners for next week buttons */
        $('#next-wk-btn_top, #next-wk-btn_btm').click(function () {
            let nextMonday = $(this).attr('title');
            nextMonday = nextMonday.split(" ", -1)[3];
            window.location.href = "@Url.Action("Overview", "Overview")" + `?datePicker=${nextMonday}`;
        });

        /* eventlisteners for previous week buttons */
        $('#prev-wk-btn_top, #prev-wk-btn_btm').click(function () {
            let previousMonday = $(this).attr('title');
            previousMonday = previousMonday.split(" ", -1)[2];
           window.location.href = "@Url.Action("Overview", "Overview")" + `?datePicker=${previousMonday}`;
        });

        /* eventlistener for selected week */
        $("select.wk_selector").change(function () {
            let week = $(this).children("option:selected").val();
            let date = getDateOfWeek(week, new Date().getFullYear()).toString();
            date = date.split(" ").slice(1, 4);
            let newDate = new Date(date);
            newDate = new Date(newDate.getTime() - (newDate.getTimezoneOffset() * 60000)).toISOString().split("T")[0];
            window.location.href = "@Url.Action("Overview", "Overview")" + `?datePicker=${newDate}`;
        });

        function getDateOfWeek(w, y) {
            let date = new Date(y, 0, (1 + (w - 1) * 7));
            date.setDate(date.getDate() + (1 - date.getDay()));
            return date
        }
        /* ---------------------------------------- */

        jQuery("#unitFilter .buttonsmall").click(function () {
            jQuery("#unitFilter .buttonsmall").removeClass('selected_filter_btn');
            jQuery(this).toggleClass('selected_filter_btn');
            console.log('Button clicked');
        });

    </script>

    <script type="text/javascript">
        //Datepicker


        $.datepicker.regional['sv'] = {
            closeText: 'Stäng',
            prevText: '< Föregående',
            nextText: 'Nästa >',
            currentText: 'Nu',
            monthNames: ['Januari', 'Februari', 'Mars', 'April', 'Maj', 'Juni', 'Juli', 'Augusti', 'September', 'Oktober', 'November', 'December'],
            monthNamesShort: ['Jan', 'Feb', 'Mar', 'Apr', 'Maj', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dec'],
            dayNamesShort: ['Sön', 'Mån', 'Tis', 'Ons', 'Tor', 'Fre', 'Lör'],
            dayNames: ['Söndag', 'Måndag', 'Tisdag', 'Onsdag', 'Torsdag', 'Fredag', 'Lördag'],
            dayNamesMin: ['Sö', 'Må', 'Ti', 'On', 'To', 'Fr', 'Lö'],
            weekHeader: 'Не',
            dateFormat: 'yyyy-mm-dd',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
        };
        $.datepicker.setDefaults($.datepicker.regional['sv']);

        $(document).ready(function () {

            $(".date-select-input").datepicker(
                {
                    dateFormat: 'yy-mm-dd',
                    showOtherMonths: true,
                    selectOtherMonths: true,
                    showButtonPanel: true,
                    changeMonth: true,
                    changeYear: true,
                    showWeek: true,
                    firstDay: 1,
                    gotoCurrent: true
            });
        });

        $('.date-select-input').unbind('change');
        $('.date-select-input').change(function () {

            let currentDate = $(this).val();

            $('.date-select-input').datepicker('setDate', new Date(currentDate));

            window.location.href = "@Url.Action("Overview", "Overview")" + `?datePicker=${currentDate}`;

            $(".date-select-input").val(currentDate);
        }); // end change




    </script>
}